{% extends 'base_site.html' %}

{% block html_title %}Home{% endblock %}

{% block content %}
    <div>
        <h1>Welcome to inhoro store!</h1>
    </div>
    <div>
        <h3>Click here to access the natural people list</h3>
    </div>
    <div>
        <a href="{% url 'core:natural_person_list' %}">List of natural person!</a>
    </div>
    <div>
        <h3>Click here to access the legal people list</h3>
    </div>
    <div>
        <a href="{% url 'core:legal_person_list' %}">List of legal person!</a>
    </div>
{% endblock %}
